:root {
    --primary: #1d2b4f;
    --secondary: #16244a;
    --accent: #ffffff;
    --transition: all 0.3s ease;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    color: var(--primary);
    line-height: 1.6;
    overflow-x: hidden;  
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 95px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
    z-index: 1000;
}   

.logo{
    position: absolute;
    left: 40px; 
    width: 120px;
}

.menu{
    display: flex;
    gap: 40px;
    list-style: none;
    font-size: 23px;
}

.menu a {
    color: black;
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
}

.menu a:hover {
    color: #007bff;
}

.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #007bff;
    transition: width 0.3s;
}

.menu a:hover::after {
    width: 100%;
}
.hero {
    height: 80vh;
    background: linear-gradient(rgba(29, 43, 79, 0.7), rgba(29, 43, 79, 0.7)), 
                url("../img/fundo.jpeg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero h1 { font-size: clamp(2rem, 5vw, 4rem); margin-bottom: 10px; }
.hero span {font-weight: 400;}
.hero p { font-size: 30px;}

.btn-primary {
    padding: 15px 40px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background: #fff;
    color: var(--primary);
    cursor: pointer;
    transition: var(--transition);
    font-size: 15px;
}

.btn-primary:hover { transform: scale(1.05); background: #f0f0f0; }
section { padding: 60px 10%;}

h2 { font-size: 2.5rem; text-align: center; margin-bottom: 50px; position: relative; }

h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -12px;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    background: #2d7ff9;
    transition: width 0.3s ease;
}

h2:hover::after {
    width: 200px;
}

.parceiros-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.item-parceiro {
    width: 220px;
    height: 220px;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.parceiros-container{
  gap: 70px;
  margin-top: 50px;
}

.texto-parceiros {text-align: center;}
.texto-parceiros p { font-size: 22px; }
.texto-parceiros span {font-weight: bold; }

.item-parceiro:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgb(105, 105, 206)
}

.item-parceiro img {
    width: 120px;
    height: auto;
    margin-bottom: 15px;
}

.item-parceiro h3 {
    margin: 0;
    font-size: 18px;
    color: #1f2b6c;
}

.item-parceiro h4 {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #666;
    text-transform: capitalize;
}
.projetos {
    padding: 100px 8%;
}

.projetos h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #0A1F5C;
    margin-bottom: 50px;
}

.projetos-cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}

.projeto-card {
    width: 350px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0,0,0,.08);
    transition: .3s;
}

.projeto-card:hover {
    transform: translateY(-8px);
}

.projeto-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}

.conteudo-card {
    padding: 25px;
}

.conteudo-card h3 {
    color: #0A1F5C;
    margin-bottom: 10px;
}

.conteudo-card p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.conteudo-card a {
    text-decoration: none;
    color: #2563EB;
    font-weight: 600;
}
.sobre-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

.gif-box img {
  width: 500px;
  height: auto;
  position: relative;
  top: -60px;
}
.sobre-texto { 
  font-size: 150%;
  max-width: 750px;
  margin: 0 auto;   
  text-align: center;
  line-height: 1.6;   
  margin-top: -130px;
}
.projetos-flex{
  display: flex;
  justify-content: center;
}

.imgFooter {
  height: 100vh;
}

.imgFooter-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

footer {
  background: var(--secondary);
  color: white;
  max-height: 300px;
  overflow: hidden;
}

.footer-container {
  display: flex;              
  padding: 0;
  align-items: center;
}

.titulo-contato {
  font-size: 30px; 
  text-align: left;
  margin-left: -60px;
  width: 180px;
  top: -30px;
}

.texto-contato {
  font-size: 22px;
  max-width: 780px;
  text-align: left;
  margin-left: 270px; 
  line-height: 1.3;
  flex-grow: 1;
  min-width: 200px;
  margin-top: -120px;
}

.contatos img{
  width: 80px;
  position: relative;
  top: -90px; 
  margin-left: -180px;
}

a {
  text-decoration: none;
  color: #16244a;
}

a:hover {
  color: #007bff;
}
@media (max-width: 1024px) {

  .navbar {
    width: 100%;
    padding: 10px 5%;
  }

  .menu {
    gap: 15px;
    font-size: 18px;
  }

  .projetos-carossel {
    width: 100%;
    height: auto;
  }

  .boneco-logo {
    margin: 0;
    width: 120px;
  }

  .gif-box img {
    width: 350px;
    top: 0;
  }

  .sobre-texto {
    margin-top: 0;
    font-size: 120%;
  }

  .texto-parceiros p {
    font-size: 22px;
  }

  .texto-contato {
    margin-left: 0;
    margin-top: 0;
    text-align: center;
  }

  .titulo-contato {
    margin-left: 0;
    text-align: center;
  }

  .contatos img {
    margin-left: 0;
    top: 0;
    width: 60px;
  }
}



@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .menu {
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
  }

  .hero {
    height: auto;
    padding: 80px 20px;
  }

  .hero p {
    font-size: 18px;
  }

  .item-parceiro img {
    width: 120px;
    height: 120px;
  }

  .texto-parceiros p {
    font-size: 18px;
  }

  .projetos-carossel {
    width: 100%;
    height: auto;
  }

  .boneco-logo {
    display: none; 
  }

  .gif-box img {
    width: 250px;
  }

  .sobre-texto {
    font-size: 100%;
    padding: 0 10px;
  }

  .imgFooter {
    height: auto;
  }

  footer {
    max-height: none;
    padding: 20px;
  }

  .texto-contato {
    font-size: 16px;
    text-align: center;
  }

  .contatos {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .contatos img {
    width: 50px;
  }
}
.menu-toggle {
  display: none;
}

/* ===== EQUIPE ===== */

.equipe-texto {
    font-size: 160%;
    text-align: center;
    margin-bottom: 40px;
}

.cards-carrossel {
    position: relative;
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-cards {
    display: flex;
    gap: 32px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    width: 1042px;
}

.container-cards::-webkit-scrollbar {
    display: none;
}

.card {
    min-width: 230px;
    width: 230px;
    height: 330px;
    background: #0d2a5c;
    border-radius: 30px;
    text-align: center;
    color: white;
    position: relative;
    flex-shrink: 0;
    transition: .3s;
}

.card:hover {
    transform: translateY(-5px);
}

.avatar {
    width: 150px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    margin-top: 20px;
}

.card h5 {
    margin-top: 20px;
    font-size: 20px;
    padding: 0 10px;
}

.redes-sociais {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
}

.botao-equipe {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.botao-equipe:hover {
    background: white;
}

.botao-equipe img {
    width: 22px;
    height: 22px;
}

.btn-equipe {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    font-size: 40px;
    color: #0d2a5c;
    cursor: pointer;
    z-index: 10;
}

.esquerda-equipe {
    left: -40px;
}

.direita-equipe {
    right: -40px;
}

@media (max-width: 768px) {

    .container-cards {
        width: 250px;
    }

    .btn-equipe {
        font-size: 30px;
    }

    .esquerda-equipe {
        left: -20px;
    }

    .direita-equipe {
        right: -20px;
    }
}
@media (max-width: 768px) {

 
  .menu-toggle {
    display: block;
    font-size: 28px;
    cursor: pointer;
  }

  
  .menu {
    display: none;
  }

  
  .menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: white;
    padding: 20px 0;
  }

  .navbar {
    justify-content: space-between;
  }
}

.menu-toggle {
  position: fixed;   
  top: 15px;
  left: 20px;
  z-index: 2000;

  font-size: 28px;
  cursor: pointer;
  color: #000; 

  
}
